.top-menu .row {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  left: 0;
  padding: 20px 10px 20px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.top-menu .col-4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
}
.top-menu .col-4 .fa {
  margin: 0 5px 0 5px;
}
.top-menu .link {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
}
.top-menu .link:hover {
  color: #333;
  text-decoration: underline;
}
.btn {
  background-color: #326891;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  padding: 11px 12px 8px 12px;
  text-transform: uppercase;
}
.main {
  box-sizing: border-box;
  margin: auto;
  position: relative;
  top: 100px;
  z-index: 0;
}
.article {
  margin: auto;
  max-width: 1000px;
}
.article .figure {
  margin: 40px 0;
}
.article .figure-img {
  width: 100%;
}
.article .figcaption {
  color: #666;
  margin: 10px 0 20px 0;
  text-align: justify;
  width: 70%;
}
.article .credit {
  font-size: 0.8em;
}
.article .content {
  margin: 0 200px;
}
.article .info-details {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.article .share-buttons {
  align-items: center;
  display: flex;
  justify-items: end;
  text-align: center;
}
.article .share-buttons .btn {
  background-color: #eee;
  border: none;
  border-radius: 50%;
  color: black;
  margin: 10px;
  padding: 10px;
  width: 15px;
}
.article .share-buttons .btn-2 {
  margin: 10px;
  padding: 10px;
}
.article h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 40px 0;
}
.article-header .title {
  font-family: "Roboto Slab", serif;
  font-size: 2.3em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.3em;
  margin: 50px auto 30px auto;
  max-width: 600px;
}
.article-paragraphs p {
  font-size: 1.4em;
  line-height: 1.5;
  margin: 20px 0;
  text-align: justify;
  text-justify: inter-word;
}
.article-paragraphs p a {
  color: #326891;
}
.article-paragraphs p a:hover {
  color: #326891;
  text-decoration: none;
}
.article-paragraphs h4 {
  font-size: 1.3em;
  font-weight: normal;
}
.article-paragraphs figure figcaption {
  font-size: 0.8em;
  line-height: 1;
}
.article-paragraphs .subscribe {
  color: #333;
  font-size: 0.8em;
  margin: 20px 0 20px 0;
}
.article-paragraphs .subscribe a {
  color: #333;
}
.sign-up {
  font-weight: bold;
  text-align: center;
}
.sign-up p {
  line-height: 1.5;
}
.sign-up p a {
  color: #326891;
  text-decoration: none;
}
.sign-up hr {
  width: 25%;
}
.sidebar .item a {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  text-decoration: none;
}
.sidebar a img {
  height: 75px;
  width: 75px;
}
.sidebar a h3 {
  color: #333;
  margin: 0 10px 0 5px;
}
.sidebar a h3:hover {
  text-decoration: underline;
}
.grid-info h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 2.5px 0;
}
.grid-info p {
  color: #666;
  margin: 4px 0;
}
.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.grid-container p {
  color: #333;
  font-size: 0.9em;
  margin: 9px 0;
  text-align: justify;
  text-justify: inter-word;
}
.grid-container p strong {
  font-weight: bold;
  margin: 2.5px 0;
}
.grid-container hr {
  border: 1px solid #333;
  margin: 5px 0 5px 0;
  width: 60px;
}
.grid-container img {
  width: 100%;
}
.grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 4px 0;
}
.grid-row .grid-item {
  margin: 8px;
}
.figcaption-credit {
  font-weight: bold;
}
.sign-up-text {
  font-size: 1.1em;
  margin: 20px 0 20px 0;
}
.read-comment {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.read-comment .button {
  padding: 11px 24px 8px 12px;
  width: 50%;
}
.read-comment .button .btn {
  font-weight: bold;
  text-decoration: none;
}
.aside {
  position: absolute;
  right: 80px;
  top: 18%;
  width: 210px;
}
.footer {
  margin: 120px 0 10px 0;
  position: relative;
}
.footer ul {
  text-align: center;
}
.footer li {
  display: inline;
  margin: 0 4px;
}
.footer .nav-link {
  color: #666;
  font-size: 0.8em;
  text-decoration: none;
}
.footer .nav-link:hover {
  text-decoration: underline;
}
